/*ESTILO GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}

#container{
  width: 100vw;
  height: 20vh;
  background: url('img/bah.jpg');
  background-size: cover;
  box-shadow: 30px 30px 50px #f2f3f3;
}

header {
  background-color:whi;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 10vh;
  height: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: rgb(37, 78, 144);
  font-weight: 500;
}

.login-button button {
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #5A99D8;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
      width: 100%;
  }
  .open {
      display: block;
  }
}

/*cards*/

main.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px; /* Adicione um gap entre os cards */
  justify-content: center; /* Centraliza os cards */
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 40rem;
  flex: 1 1 300px; /* Permite que os cards se ajustem ao espaço disponível */
  box-sizing: border-box; /* Garante que padding e borda sejam incluídos no tamanho total do elemento */
}

main.cards section.card .icon {
  width: 64px;
  height: 64px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card h3 {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

main.cards section.card.contact button,
main.cards section.card.shop button,
main.cards section.card.about button {
  background: #3E8AFF;
}

main.cards section.card.contact,
main.cards section.card.shop,
main.cards section.card.about {
  box-shadow: 30px 30px 50px -30px #5A99D8;
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
    padding: 20px; /* Reduz o padding em telas menores */
  }

  main.cards section.card {
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }

  .search-container {
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo do campo de pesquisa */
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    right: 10px; /* Ajuste a posição do botão de pesquisa */
  }
}

@media screen and (max-width: 480px) {
  main.cards {
    padding: 10px;
  }

  main.cards section.card {
    margin-bottom: 20px;
  }

  main.cards section.card button {
    font-size: 60%;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    right: 5px; /* Ajuste adicional para telas muito pequenas */
  }
}

.search-container {
  padding-left: 700px;
  position: relative; /* Necessário para a posição absoluta do botão */
  display: flex;
  justify-content: center; /* Centraliza a barra de pesquisa */
}

.search-input {
  border: 2px solid #ccc;
  border-radius: 40px;
  padding: 8px 40px 8px 12px; /* Ajusta o padding para acomodar o ícone */
  width: 190px;
  position: relative;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute; /* Posição absoluta em relação ao campo de pesquisa */
  right: 15px; /* Ajuste a posição do botão */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.arrow {
  font-size: 24px;
  color: #007bff; /* Cor da seta, você pode alterar conforme necessário */
  transform: rotate(200deg); /* Altere o ângulo para mudar a direção da seta */
  cursor: pointer;
}

/*Projeto*/
.projects-section {
  padding: 50px; /* Espaçamento interno */
  text-align: center; /* Centralizar o conteúdo */
  background-color: #f0f8ff; /* Cor de fundo com tons azuis */
}

.project {
  margin-bottom: 30px; /* Espaçamento entre os projetos */
}

.project img {
  width: 300px; /* Tamanho das imagens */
  border-radius: 10px; /* Borda arredondada */
  margin-bottom: 20px; /* Espaçamento abaixo das imagens */
}

.project h3 {
  color: #007bff; /* Cor do título */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.wpp-link{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa whatsapp{
  color: white;
  margin-top: 16px;
}